# MongoDB Connection
MONGO_URI=mongodb+srv://vinayjaiswal059_db_user:9919929424@cluster0.0nd8bqa.mongodb.net/?appName=Cluster0
# JWT Configuration
JWT_SECRET=your_super_secret_jwt_key_make_it_strong_and_random_123!@#
JWT_EXPIRE=7d

# Server Configuration
PORT=5000
NODE_ENV=development

# CORS Configuration
FRONTEND_URL=http://localhost:5173

# API Configuration
API_PREFIX=/api
